.image-section {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  
  .image-section-img {
    width: 300px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px;
  }
  
  .image-section-content {
    max-width: 600px;
  }
  
  .image-section-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .image-section-content p {
    font-size: 1.2rem;
  }
  